<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIST USER</title>
    <link rel="stylesheet" href="[% c.uri_for('/static/css/bootstrap.min.css') %]">
    <link rel="stylesheet" href="[% c.uri_for('/static/css/bootstrap-theme.min.css') %]">
</head>
<body>
    <div class="example">
        <div class="container">
            <div class="row">
                <h2>LIST USER</h2>
                <h3><a href="[% c.uri_for(c.controller.action_for('create')) %]">create user</a></h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      [% FOREACH user IN users -%]
                        <tr>
                          <td>[% user.id %]</td>
                          <td>[% user.name %]</td>
                          <td>[% user.address %]</td>
                          <td><a href="[% c.uri_for(c.controller.action_for('delete'), user.id) %]" >Delete</a> / <a href="[% c.uri_for(c.controller.action_for('edit'), user.id) %]" >Update</a></td>
                        </tr>
                      [% END -%]
                    </tbody>
                </table>
            </div>
        </div>
         
    </div>
    <script src="[% c.uri_for('/static/js/bootstrap.min.js') %]"></script>
</body>
</html>